{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="container-fluid">
        <div class="col-6">
            <div class="card">
                <div class="form-group">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                            Save
                            {% else %}
                            Create
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}